:root {
    --background-color: #f8f8f869;
    --secondary-color: #ffbb1b;
    --btn-light: #f4f4f4;
    --btn-dark: rgb(50, 50, 50);
    --content: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    background-image: url('./themepark-images/background.jpg');
    background-size: cover;
    background-position: center;
    color: #202020;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5%;
}

.bold {
    font-weight: bold;
}

section {
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* Navigation */

nav {
    width: 100%;
    height: 80px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px; 
    border-radius: 10px;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.nav-list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
    transition: all 0.5s ease-out;
    

}

.hamburger {
    display: none;
}

/* Buttons */

button {
    width: 120px;
    height: 30px;
    padding: 2px 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: .75rem;
    font-weight: bold;
}

button:hover {
    transition: all .5s ease-in-out;
    scale: 1.1;
}

.btn-light {
    background-color: var(--btn-light);
    color: black;
    
}

.btn-light:hover {
    box-shadow: 0 0 10px var(--btn-light);
}

.btn-dark {
    background-color: var(--btn-dark);
    color: #fff;
}

.btn-dark:hover {
    box-shadow: 0 0 10px var(--btn-dark);
}

/* Logo's */

.logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* Banner */

.attractions-banner {
    width: 100%;
    height: 330px;
    background-color: var(--background-color);
    margin: 30px 0px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.attractions-title {
    text-align: center;
    width: 50%;
    font-size: 3rem;
}

.attractions-title > span {
    text-transform: uppercase;
    color: var(--secondary-color);
    text-shadow: 0px 0px 20px rgba(75, 75, 75, 0.502);
}

.attraction-card {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    margin: 0px auto 10px auto;
    padding: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.attraction-image {
    width: 400px;
    height: 400px;
    background-color: var(--content);
    object-fit: cover;
    border-radius: 10px;
}




.attraction-text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    /* padding: 0 50px; */
    width: 50%;
}

.attraction-text-content > h3 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
    background-color: var(--secondary-color);
    text-shadow: 0px 0px 20px rgba(75, 75, 75, 0.502);
    padding: 5px 0px;
}

.attraction-text-content > p {
    margin: 5px;
}

/* Footer */

footer {
    height: 200px;
    background-color: var(--background-color);
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.footer-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.copyright {
    text-align: center;
    font-size: .7rem;
}

/* --------------- TABLET ----------------- */

@media screen and (max-width: 1000px) {
    .nav-menu {
        width: 80%;
    }

    li {
        font-size: 1rem;
    }
    .attractions-title {
        width: 90%;
    }


    .attraction-text-content {
        padding: 0 20px;
    }
}

/* ---------------- MOBILE ------------------ */

@media screen and (max-width: 700px) {
    nav {
        padding: 0 10px;
    }

    button {
        font-size: 14px;
        height: 25px;
    }
    .logo {
        width: 85px;
        height: 85px;
    }
    .nav-menu {
        display: none;
    }

    .hamburger {
        display: contents;
        font-size: 40px;
    }

    .attractions-title {
        width: 100%;
        font-size: 2.5rem;
    }

    .attraction-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 10px;
    }



    .thunderbolt {
        flex-direction: column-reverse;
    }

    .attraction-image {
        width: 90%;
        height: 70%;
        margin-top: 10px;
        
    }

    .attraction-text-content {
        width: 90%;
    }
    
}